.container { 
    top: 0;
    height: 100vh;
    text-align: center;
    align-items: center;
}

.box {
    background-color: #eddcd9;
    height: 80vh;
    padding: 30px;
}

.title { 
    font-size: 4rem;
    color: #264143;
    margin: 0;
}

.nav {
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
    color: #de5499;
    font-size: 26px;
}