.container { 
    top: 0;
    height: 100vh;
    text-align: center;
    align-items: center;
    background-color: #f3f1eb;
    /* background-image: url('../../../public/bg.png'); */
    /* background-size: cover; */
}

.box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    max-width: 60%;
    justify-content: center;
}

.title { 
    font-size:  6rem;
    color: rgb(0, 0, 0);
    margin: 0;
}

.nav {
    display: flex;
    align-items: center ;
}

.link {
    text-decoration: none;
    color: #000000;
    font-size: 26px;
    width: fit-content;
    margin-bottom: 5px;
    padding: 5px 30px;
}

.button {
    align-self: center;
    color: #000000;
    font-size: 20px;
    width: fit-content;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 30px;
    background: transparent;
    padding: 10px 30px;
}

.container::after {
content: '';
width: 100%;
border-left: solid 1px #000000;
position: absolute;
left: 20%;
right: 10%;
z-index: 1;
animation: lineDrawToRight 1s ease-out;
}

@keyframes lineDrawToRight {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.card {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}